pip
numpy
pandas
matplotlib
scikit-learn
seaborn
plotly
dash
streamlit
flask
django
sqlalchemy
psycopg2-binary
dash-bootstrap-components
dash-mantine-components
pycountry
nbformat
dash_bootstrap_templates
